    
<template>
  	<require from="./styles.css"></require>
  	<require from="./contact-list"></require>

	<a href="#">Home</a>

  	<div id="contact-browser">
      <contact-list id="browser-contact-list"></contact-list>
      <router-view id="browser-router-view"></router-view>
  	</div>
</template>

  