<template>
  <div class="contact-list">
    <ul>
        <a repeat.for="contact of contacts" route-href="route: contacts; params.bind: {id:contact.id}" click.delegate="$parent.select(contact)">
	        <li class="list-group-item ${contact.id === $parent.selectedId ? 'active' : ''}">
	        	<div class="thumbnail-div"><img class="thumbnail" src="${contact.photoUrlThumb}">${contact.firstName} ${contact.lastName}</div>
	        </li>
        </a>
    </ul>
  </div>
</template>
