    
<template>
  <div class="detail">
    <h1>${contact.firstName}&nbsp${contact.lastName}</h1>
    <img class="profile-pic" src="${contact.photoUrlFull}">
    <img class="gender" src="https://upload.wikimedia.org/wikipedia/commons/${contact.gender === 'male' ? 'f/fd/Symbol_mars.svg' : '6/61/Symbol_venus_blue.svg'}">
    <div>
		<div class="field">
      		<span class="field-name">First Name:</span>${contact.firstName}
  		</div>
  		<div class="field">
      		<span class="field-name">Last Name:</span>${contact.lastName}
  		</div>
  		<div class="field">
      		<span class="field-name">City:</span>${contact.city}
  		</div>
  		<div class="field">
      		<span class="field-name">Email:</span>${contact.email}
  		</div>
		<div class="field">
      		<span class="field-name">Phone Number:</span>${contact.phoneNumber}
  		</div>
    </div>
  </div>
</template>

  