    
<template>
  <div class="no-selection">
  	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut nec neque non mi sodales egestas. Nulla aliquet tincidunt mi dignissim rutrum. Cras rutrum mollis dolor malesuada consectetur. Fusce sed ullamcorper lacus, ac congue mi. Proin nulla risus, consectetur ut ultricies id, rutrum ut nisl. Etiam porttitor malesuada nunc, in ullamcorper sem iaculis sed. Aliquam id erat a orci pellentesque auctor.</p>
    <p>Mauris sit amet leo sed sapien aliquet egestas. Vestibulum quis placerat nibh. Aenean ut purus tincidunt, elementum est pharetra, lobortis ex. Donec tincidunt lacus eget accumsan sollicitudin. Ut vulputate suscipit leo a sodales. In hac habitasse platea dictumst. Curabitur ornare metus sed ipsum viverra, quis molestie purus gravida. Aenean sagittis molestie fringilla. Donec posuere vel metus sit amet feugiat. Quisque posuere nisl et lacus tincidunt, ac interdum nulla commodo. Quisque dictum elit nec diam pulvinar, sed accumsan justo suscipit. Aenean id lorem semper, commodo lectus et, egestas lorem. Ut dignissim sem non quam euismod bibendum. Quisque sed justo elit. Aliquam hendrerit finibus velit vitae pretium. Aliquam sed nisl at enim vehicula porta vel eget neque.</p>
    <p>Nam sed bibendum nibh, in congue purus. Nam elementum neque ac convallis consectetur. Morbi eu eros in nunc blandit cursus. Suspendisse finibus porta pharetra. Aenean sit amet ligula libero. Nullam at facilisis diam. Praesent elementum ultrices elit, ut ornare tortor dictum nec. Cras efficitur molestie dignissim. Maecenas magna mauris, vestibulum vel ultricies at, fringilla tempus augue.</p>
    <p>For these, and many other reasons, this directory is particularly useful !</p>
  </div>
</template>

  