.detail, .field, .no-selection {
  margin: 20px;
}

body {
	margin: 70px;
}

#browser-router-view {
  flex: 1;
}
#contact-browser {
  display: flex;
}
#browser-contact-list {
  width: 500px;
}

.contact-list {
  overflow-y: scroll;
  height: 500px;
  padding: 10px;
}

li.list-group-item {
  list-style: none;
  color: navy;
  font-size: large;
}
li.list-group-item > a {
  text-decoration: none;
}
li.list-group-item.active {
  background: #A9D0F5;
}
a:focus {
  outline: none;
}
.thumbnail-div {
  display: inline-block;
}
.thumbnail {
	margin: 10px 10px 0px 10px; 
}

h1 {
	margin: 15px;
}

.profile-pic {
	display: block;
	margin: 15px;
}
.gender {
	height: 2%;
	width: 2%;
	margin-left: 60px;
}
.field-name {
  width: 200px;
  display: inline-block;
}

